<html>
<head>
    <title>Socket.IO - Node.js</title>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Socket.IO</h1>
    <p>このページはNode.jsで動いています！</p>
    <p>同時接続数: <span id="number">0</span>人</p>
    <ul id="logs">
        <%# if(json_data){ %>
            <%#  for (var i in json_data) { %> 
                <%#= "<li>"+json_data[i].id+"さんが"+json_data[i].message+"しました</li>" %>
            <%# }; %> 
        <%# }; %>
    </ul>
    <script>
        const socket = io();
        socket.on('count', function(value) {
			$("#number").html(value);
		});
        socket.on('log', function(value) {
            console.log({value});
			//$('ul').append('<li>'+value+'</li>');
		});
    </script>
</body>

</html>